<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="">
  <ion-content scroll="false">
    <ion-slides  options="options" slider="data.slider">
      <ion-slide-page>
        <div class="row margin40">
            <h2 class="title">{{ title }} </h2>
            <h2 class="title">- Breakfast</h2>
        </div>
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="item item-image">
                  <img src="img/oats.jpg">
                </div>
              <div class="item item-text-wrap">
                <h2>Oats</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="item item-image">
                  <img src="img/coffee.jpg">
                </div>
              <div class="item item-text-wrap">
                <h2>Coffee</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="row margin40">
            <h2 class="title">{{ title }} </h2>
            <h2 class="title">- Lunch</h2>
        </div>
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="item item-image">
                  <img src="img/banku.png">
                </div>
              <div class="item item-text-wrap">
                <h2>Banku&Fish</h2>
                <p>Some nice banku with fish</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="item item-image">
                  <img src="img/spaghetti.jpg">
                </div>
              <div class="item item-text-wrap">
                <h2>Spaghetti</h2>
                <p>Some nice spaghetti with meatballs</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="row margin40">
            <h2 class="title">{{ title }} </h2>
            <h2 class="title">- Supper</h2>
        </div>
      </div>
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="item item-image">
                  <img src="img/jollof.jpg">
                </div>
              <div class="item item-text-wrap">
                <h2>Jollof</h2>
                <p>Something everybody can relate with</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>

    </ion-slides>
  </ion-content>
</ion-view>
