<ion-view view-title=""><img class="bakckground" src="img/background.jpg">
  <ion-content scroll="false">

    <ion-slides  options="options" slider="data.slider">

      <ion-slide-page>

        <div class="row margin40">
            <h2 class="title">{{ title }} </h2>
            <h2 class="title">- Breakfast</h2>
        </div>

        <div class="row">
          <div class="col" ng-repeat="choice in menu.breakfast">
            <div class="card">
              <div class="item item-image">
                  <img ng-src="img/{{ choice.img }}">
                </div>
              <div class="item item-text-wrap">
                <h2>{{ choice.name }}</h2>
                <p>{{ choice.description }}</p>
              </div>
            </div>
          </div>
        </div>

      </ion-slide-page>

      <ion-slide-page>

        <div class="row margin40">
            <h2 class="title">{{ title }} </h2>
            <h2 class="title">- Lunch</h2>
        </div>

        <div class="row">
          <div class="col" ng-repeat="choice in menu.lunch">
            <div class="card">
              <div class="item item-image">
                  <img ng-src="img/{{ choice.img }}">
                </div>
              <div class="item item-text-wrap">
                <h2>{{ choice.name }}</h2>
                <p>{{ choice.description }}</p>
              </div>
            </div>
          </div>
        </div>

      </ion-slide-page>

      <ion-slide-page>

        <div class="row margin40">
            <h2 class="title">{{ title }} </h2>
            <h2 class="title">- Supper</h2>
        </div>

        <div class="row">
          <div class="col" ng-repeat="choice in menu.supper">
            <div class="card">
              <div class="item item-image">
                  <img ng-src="img/{{ choice.img }}">
                </div>
              <div class="item item-text-wrap">
                <h2>{{ choice.name }}</h2>
                <p>{{ choice.description }}</p>
              </div>
            </div>
          </div>
        </div>
        
      </ion-slide-page>

    </ion-slides>
  </ion-content>
</ion-view>
