<ion-view view-title="This Week">
  <ion-content>

    <ul>
      <li ng-repeat="day in days"> {{ day | json }}</li>
    </ul>

    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/current/{{ day.$id }}"
      ng-repeat="day in days">
        <h2>{{ day.name }}</h2>
        <img ng-src="img/oats.jpg" width="40px" height="40px">
        <img ng-src="img/waakye.jpg" width="40px" height="40px">
        <img ng-src="img/jollof.jpg" width="40px" height="40px">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>