<ion-view view-title="This Week">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <h2>Monday</h2>
        <img ng-src="img/oats.jpg" width="40px" height="40px">
        <img ng-src="img/waakye.jpg" width="40px" height="40px">
        <img ng-src="img/jollof.jpg" width="40px" height="40px">
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <h2>Tuesday</h2>
        <img ng-src="img/oats.jpg" width="40px" height="40px">
        <img ng-src="img/waakye.jpg" width="40px" height="40px">
        <img ng-src="img/jollof.jpg" width="40px" height="40px">
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <h2>Wednesday</h2>
        <img ng-src="img/oats.jpg" width="40px" height="40px">
        <img ng-src="img/waakye.jpg" width="40px" height="40px">
        <img ng-src="img/jollof.jpg" width="40px" height="40px">
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <h2>Thursday</h2>
        <img ng-src="img/oats.jpg" width="40px" height="40px">
        <img ng-src="img/waakye.jpg" width="40px" height="40px">
        <img ng-src="img/jollof.jpg" width="40px" height="40px">
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <h2>Friday</h2>
        <img ng-src="img/oats.jpg" width="40px" height="40px">
        <img ng-src="img/waakye.jpg" width="40px" height="40px">
        <img ng-src="img/jollof.jpg" width="40px" height="40px">
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <h2>Saturday</h2>
        <img ng-src="img/oats.jpg" width="40px" height="40px">
        <img ng-src="img/waakye.jpg" width="40px" height="40px">
        <img ng-src="img/jollof.jpg" width="40px" height="40px">
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>