<ion-view view-title="{{ firebaseUser.email }}">

  <bibble></bibble>

  <ion-content>
    <bibble></bibble>

  
    <ion-list>

      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/next/{{ day.$id }}"
      ng-repeat="day in days">
        <h2 class="days">{{ day.name }}</h2>
      <div class="row margin10">
        <div class="col">
        <img class="img-avail" ng-src="img/question.png">
      </div>
        <div class="col">
        <img class="img-avail" ng-src="img/question.png">
      </div>
        <div class="col">
        <img class="img-avail" ng-src="img/question.png">
      </div>
      </div>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
