<ion-view view-title="This Week">
  <ion-content>
  
    <ion-list>

      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/current/{{ day.$id }}"
      ng-repeat="day in days">
        <h2 class="days">{{ day.name }}</h2>
      <div class="row margin10">
        <div class="col">
        <img class="img-avail" ng-src="img/oats.jpg">
      </div>
        <div class="col">
        <img class="img-avail" ng-src="img/waakye.jpg">
      </div>
        <div class="col">
        <img class="img-avail" ng-src="img/jollof.jpg">
      </div>
      </div>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
