<ion-view view-title="Next Week">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/next/1">
        <h2>Monday</h2>
        <img ng-src="img/question.png" width="40px" height="40px">
        <img ng-src="img/question.png" width="40px" height="40px">
        <img ng-src="img/question.png" width="40px" height="40px">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/next/2">
        <h2>Tuesday</h2>
        <img ng-src="img/question.png" width="40px" height="40px">
        <img ng-src="img/question.png" width="40px" height="40px">
        <img ng-src="img/question.png" width="40px" height="40px">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/next/3">
        <h2>Wednesday</h2>
        <img ng-src="img/question.png" width="40px" height="40px">
        <img ng-src="img/question.png" width="40px" height="40px">
        <img ng-src="img/question.png" width="40px" height="40px">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/next/4">
        <h2>Thursday</h2>
        <img ng-src="img/question.png" width="40px" height="40px">
        <img ng-src="img/question.png" width="40px" height="40px">
        <img ng-src="img/question.png" width="40px" height="40px">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/next/5">
        <h2>Friday</h2>
        <img ng-src="img/question.png" width="40px" height="40px">
        <img ng-src="img/question.png" width="40px" height="40px">
        <img ng-src="img/question.png" width="40px" height="40px">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/next/6">
        <h2>Saturday</h2>
        <img ng-src="img/question.png" width="40px" height="40px">
        <img ng-src="img/question.png" width="40px" height="40px">
        <img ng-src="img/question.png" width="40px" height="40px">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>


    </ion-list>
  </ion-content>
</ion-view>