<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- This Week Tab -->
  <ion-tab title="This Week" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/current">
    <ion-nav-view name="tab-current"></ion-nav-view>
  </ion-tab>

  <!-- Next Week Tab -->
  <ion-tab title="Next Week" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/next">
    <ion-nav-view name="tab-next"></ion-nav-view>
  </ion-tab>

</ion-tabs>
